/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:ital,wght@0,100;0,200;1,200;1,400&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 2.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */

  --first-hue: 190;
  --sat: 86%;
  --lig: 30%;
  --second-hue: 235;

  --body-color: hsla(var(--second-hue), 50%, 8%);
  --text-color: hsla(var(--first-hue), 20%, 57%);
  --title-color: hsla(var(--first-hue), 25%, 95%);
  --container-color: hsla(var(--second-hue), 35%, 14%);
  --first-color: hsla(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsla(var(--second-hue), var(--sat), 71%); /* -4% */
  --text-color-light: hsla(var(--first-hue), 4%, 85%);
  --shape-gradient:linear-gradient(90deg, hsl(300,76%,60%), hsl(57,81%,60%));
  --body-gradient:linear-gradient(180deg, hsl(22,100%,84%), hsl(265,100%,80%));
  --text-shadow: -.1rem 0 rgba(243, 242, 242, 0.098), 0 .1rem rgba(255, 255, 255, 0.117), 
                  .1rem 0 rgba(254, 254, 254, 0.162);

  /*========== Font and typography ==========*/

  /*.5rem = 8px | 1rem = 16px ...*/

  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: .25rem;
  --special-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */

@media screen and (min-width: 60.5rem) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.2rem;
    --special-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .75rem;
    --one: calc(var(--two) + 20px);
    --two: calc(var(--one) - 20px);
  }
}

  /*========== color theme ==========*/
  
  :root, :root.light {
  --bg-color: rgba(187, 167, 150, 0.964);
  --text-color:var(--title-color);
  }
  :root.dark {
    --bg-color: #131212f9;
    --text-color:var(--first-color-alt);
  }
  :root.pink {
    --bg-color: #790629ec;
    --text-color: #ee8ab5fa;
  }
  :root.blue {
    --bg-color:#054861f9;
    --text-color: #bbe9f8;
    --font-family: 'Poppins';
  }
  :root.space {
    --bg-color: rgb(58, 61, 73);
    --text-color: #f7de8d;
    --bg-url: url("https://www.spacejam.com/1996/img/bg_stars.gif");
    --background:cover;
    --font-family: 'Press Start 2P', cursive;
  }
  :root.space.light {
  --bg-color: rgba(43, 47, 51, 0.977);
  --text-color: #33df19f1;
  --bg-url: url("https://www.spacejam.com/1996/img/bg_stars2.gif");
  --background:cover;
  --font-family: 'Josefin Sans', sans-serif;
}
  :root.nyan {
    --bg-color: #0f085895;
    --text-color: rgb(239, 228, 228);
    --bg-url: url("https://static.wixstatic.com/media/4cbe8d_f1ed2800a49649848102c68fc5a66e53~mv2.gif");
    --font-family: 'Comic Neue', cursive;
  } 
  :root.test {
    --bg-color: #780531d2;
    --text-color: var(--text-color-light);
    --bg-url: url("../img/brightHope.gif");
    --font-family: 'poppins', cursive;
  }
  :root.load {
    --bg-color: #dcddd3e9;
    --text-color:var(--text-color-light);
    --bg-url: url("../img/gif/loading\ \(2\).gif");
    --font-family: 'Bungee Spice', cursive;
  }
  :root.load2 {
    --bg-color: var(--body-gradient);
    --bg-url: url("../img/gif/0\ C-cPP9D2MIyeexAT.gif");
    --text-color: #dae0dff8;
    --font-family: 'Dancing Script', cursive;
    --font-size : var(--normal-font-size);
  }
  :root.load3 {
    --bg-color: rgba(71, 47, 59, 0.711);
    --text-color: #fffbdff6;
    --bg-url: url("../img/gif/Icon-Legacy.gif") ;
    --font-family: 'Dancing Script';
    --font-size : var(--small-font-size);
  }
  :root.load4 {
    --bg-color: rgba(26, 2, 134, 0.669);
    --bg-url: url("../img/gif/1\ XmdQULLtkx_Ji4oyn1oG-w.gif");
    --background-color: var(--shape-gradient);
    --text-color: hsla(var(--second-hue), 8%, 75%);
    --font-family: 'Bungee Spice';
    --font-size : var(--tiny-font-size);
  }
  :root.load5 {
    --bg-color: rgba(26, 2, 134, 0.669);
    --bg-url: url("../img/gif/6B5X.gif");
    --background-color: var(--shape-gradient);
    --text-color: hsla(var(--second-hue), 8%, 75%);
    --font-family: 'Josefin Sans';
    --font-size : var(--tiny-font-size);
  }
  :root.load6 {
    --bg-color: rgba(43, 47, 51, 0.977);
    --bg-url: url("../img/gif/ouahou3Dgif.gif");
    --text-color: #e18d42f1;
    --font-family: 'Josefin Sans', sans-serif;
    --font-size : var(--font-medium);
  }

/*=============== BASE ===============*/

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-scroll-behavior:smooth;
  scroll-behavior:smooth;
}

body,button,input,textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.986);
  color: var(--text-color-alt);
  align-items: center;
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-url);
  color: var(--text-color);
  font-family: var(--font-family);  
  align-items: center;
  justify-content: center;
  transition: .5s; /* pour l'animation du dark theme */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  font-size: clamp(2rem,1rem + 10vw,5rem);    
  font-family: var(--font-family);
}

img{
  max-width: 100%;
  height: auto;   
  align-items: center;
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

ul {
  list-style: none;  
  border-radius: 22px; 
}

a {
  text-decoration: none; 
  border-radius: 22px; 
  align-items: center;
}

button {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none; 
  align-items: center;
  padding: 1.25rem 2rem;   
  text-shadow: 0px 0px 5px 2px #000;
  box-shadow: 0px 0px 15px 2px var(--text-color);
  /* box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1); */
}

select {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  font-family: inherit;
  background-color: var(--bg-url);
  color: var(--text-color);
  border-radius: 0.5rem;align-items: center; 
}

theme-select{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-family);
  font-size: 1.5rem;align-items: center;
}
.select-items div:hover, .same-as-selected {
  background-color: rgb(0, 0, 0);
}

/*=============== THEME ===============*/
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}
.change-theme:hover{
  color: var(--first-color-alt);
}

/*=============== THEME 2 ===============*/
.change-theme2{
  font-size: 1.75rem;
  cursor: auto;
  transition: .3s;
}
.change-theme2:hover{
  color: var(--first-color);
}

/*========== Variables Dark theme ==========*/

body.light-theme{
  --title-color: hsla(var(--second-hue), 25%, 25%);
  --text-color: hsla(var(--second-hue), 20%, 35%);
  --body-color: hsla(var(--second-hue), 25%, 80%);
  --container-color: rgba(240, 236, 236, 0.964);
}

/*========== Color changes in some parts of the website, in light theme ==========*/

.light-theme .scroll-header{
  box-shadow: 0 2px 4px rgb(247, 243, 243);
}
.light-theme .nav__menu{
  background-color: hsla(var(--first-hue), 48%, 18%, 1.1);
}
.light-theme .section__subtitle{
  color: var(--text-color);
}
.light-theme .home__social-link{
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .home__social::after,
.light-theme .footer__social-link{
  background-color: var(--title-color);
}
.light-theme .home__social-link, 
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy{
  color: var(--title-color);
}
.light-theme .about__box{
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 18%, .2);
}
.light-theme .skills__content, 
.light-theme .services__card,
.light-theme .work__card,
.light-theme .testimonial__card,
.light-theme .contact__card
{
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme::-webkit-scrollbar{
  background-color: hsl(var(--second-hue), 8%, 66%);
}
.light-theme::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 66%);
}
.light-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 44%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
/*=============== Layout ===============*/

/* .container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
} */
.container {
  max-width: 60.5rem;
  margin-left: .75rem;
  margin-right: .75rem;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 3rem 0 1rem;
  align-items: center;
  justify-content: center;  
}

.section__title, 
.section__subtitle {
  text-align: center; 
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;  
}

.section__subtitle {
  display: block;
  font-size: var(--special-font-size);
  color: var(--text-color-light);
  text-shadow: -.1rem 0 rgba(243, 242, 242, 0.427), 0 .1rem rgba(255, 255, 255, 0.36),
      .1rem 0 rgba(254, 254, 254, 0.272);
}

.card{
  display: grid;
  place-items:center;
  background:var(--body-gradient);
  padding-block: 2.5rem;
}

.card--container{
margin-inline:1.5rem;
display:grid;
grid-template-columns: 1fr;
row-gap: 2rem;
}


/*=============== HEADER & NAV===============*/

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: cover;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .5s; /* pour l'animation du dark theme */
}

.header__img{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-self: center;
  background-image: cover;
  image-rendering:optimizeSpeed;
  border-radius: 12px;
  object-fit:cover;
  opacity: 95%;
  -webkit-backdrop-filter: blur(.2em); 
  -moz-backdrop-filter: blur(.2em); 
  backdrop-filter: blur(.2em);
  background-color: var(--body-color);
  border: .25rem double var(--first-color); 
  box-shadow: 0px 0px 25px 2px var(--first-color-alt);
  z-index:-10;
  animation: animateBgColor 4s linear infinite;
  transition: .5s; /* pour l'animation du dark theme */
}

.nav{
  display: flex;
  position: fixed;
  min-width: 450px; 
  height: calc(var(--header-height) + 1.25rem);
  column-gap: .5rem;
  justify-content: space-evenly;
  align-items: center;
}

.nav__logo{
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .5s;  
  animation: animateBgColor 15s linear infinite;  
}

.nav__logo:hover{
  color: var(--first-color-alt);
  font-weight: var(--font-medium);
}

.nav__menu{
  position: fixed;
  top: 1.25rem;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  justify-content: center;
  align-items: center;
  border: .15px solid rgba(255, 255, 255, 0.659);
  border-radius: 5rem;  
  padding: .25rem .25rem;
  /* suivant le navigateur */
  -webkit-backdrop-filter: blur(4px); 
  backdrop-filter: blur(4px);
  transition: .5s; /* pour l'animation du dark theme */
z-index: 1000;
}
.nav__list{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__item{

  text-align: center;
}

.nav__link{
  display: flex;
  flex-direction: column;
  padding: .4rem;
  color: var(--text-color);
  font-size: 1.25rem;
  border-radius: 100%;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
  margin:.2rem;  
  transition: .5s;
  animation: animateBgColor 10s linear infinite;
}

.nav__item-title{  
  display: block;
  font-size: var(--tiny-font-size);  
  text-align: center; 
  box-shadow: 1 1 10px hsla(var(--first-hue), var(--sat),var(--lig), 2);
  color: var(--title-color);
  border-radius: 100%;
  animation: animateBgColor 20s linear infinite;  
  text-shadow: var(--text-shadow);
}
.nav__menu-img{
  position:fixed;
  display: flex;
  padding: .25rem .25rem;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 85%;
  border-radius: 42px;
  animation: animateBgColor 5s linear infinite;
  transition: .5s;
  z-index: -1;
}
.nav__menu-img2{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 85%;
  border-radius: 42px;
  animation: animateBgColor 5s linear infinite;
  transition: .5s;
}
.nav__toggle{
  display: contents;
  align-items: center;
  position: sticky;
  width: 40px;
  height: 40px;
  background: var(--background-color);
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  font-size: medium;
  transition: transform 1.25s;
  }
  .nav__close:hover{
  color: var(--title-color);
  }
.nav__icon,
.nav__toggle,
.nav__close{
display: block;
color: var(--title-color-alt);
}

/* Active link */

.active-link{
  background: linear-gradient(180deg,
  hsla(var(--first-hue), var(--sat),var(--lig), 1),
  hsla(var(--first-hue), var(--sat),var(--lig), .2));
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat),var(--lig), 2);
  color: var(--title-color);
}
.active-link:hover{
  box-shadow: 0 0 18px hsla(var(--first-hue), var(--sat),var(--lig), 2);
  color: var(--text-color-light);
}

/* Change background header */

.scroll-header{
  box-shadow: 0 2px 2px hsla(0, 0%, 4%, .3);
}

/*=============== HOME ===============*/

.home__container{
  position: relative;
  row-gap: 2.25rem;
  padding-top: 2.5rem;  
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
  border-radius: 22px;
}
.home__data{
  text-align: center;
}
.home__greeting,
.home__education{
font-size: var(--small-font-size);
font-weight: var(--font-medium);  
text-shadow: 2px 2px 2px var(--first-color-alt);
}
.home__greeting{
  display: block;
  color: var(--container-color);
  margin-bottom: .25rem;  
  text-shadow: 2px 4px 4px var(--first-color);
}
.home__education{
  color: var(--container-color);
  margin-bottom: 2.5rem;  
  text-shadow: 2px 2px 4px var(--first-color-alt);
}
.home__name{
  font-size: var(--biggest-font-size);  
  text-shadow: 5px 2px 4px var(--first-color);
}
.home__img{
  width: 200px;
}
.home__handle{
  display: flex;
  width: auto;
  height:100%;
  align-items: flex-end;
  justify-content: center;  
  justify-self: center;
  border-radius: 10rem 10rem 1rem 1rem;
  background: linear-gradient(180deg,
  hsla(var(--first-hue), var(--sat), var(--lig),1),
  hsla(var(--first-hue), var(--sat), var(--lig),.2));
  box-shadow: 0px 0px 5px 4px var(--first-color-alt); 
  text-shadow: 5px 4px 4px var(--container-color);
  overflow: hidden;  
}

.home__buttons{
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;   
  text-shadow: 5px 4px 4px var(--first-color-alt);
  /* box-shadow:  0px 0px 10px 4px var(--container-color);   */
}

.home__social,
.home__scroll{
position: absolute;
}

.home__social{
  display: grid;
  bottom: 3.80rem;
  right: 0;
  row-gap: .5rem;
  z-index: 2; 
}

.home__social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .1rem;
  border-radius: .25rem;
  display: flex;
  align-items:center;
  font-size: var(--special-font-size);
  transition: .5s;
}

  .home__social-link:hover{
  background-color: var(--first-color);
  color: aliceblue;  
  animation: animate 4s linear infinite;   
  text-shadow: 1px 4px 4px var(--body-color);
  }

  .home__social-link:after{
  content: '';
  width: auto;
  height: auto;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 3px);
  }

  .home__scroll{
    color: var(--first-color);
    left: -2.5rem;
    display: grid;
    bottom: 6.5rem;
    row-gap: 3rem;
    justify-items: center;
    z-index: 3;
  }
  .home__scroll-icon {
    font-size: var(--special-font-size);
    transition: .5s;
    animation: animateBgColor 5s linear infinite;
    align-items: center;
  }
  .home__scroll-name {
    font-size:var(--smaller-font-size);
    transform: rotate(-90deg);
  }
  
/*=============== BUTTONS ===============*/

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .5rem 1rem;
  border-radius: .5rem;
  transition: .4s;
  animation: animateBgColor 40s linear infinite;
}
.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}
.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);   
  box-shadow: 0px 0px 2px 2px var(--first-color-alt);
}

/*=============== ABOUT ===============*/

.about__container{
  row-gap: 2.5rem;  
}
.about__img{
  display: flex;
  width:35%;
  border-radius: 100%;
  justify-self: center;
  justify-content: center;
  background-color: var(--body-color);
  border: .5rem double var(--first-color); 
  box-shadow: 0px 0px 25px 2px var(--first-color-alt);
  animation: animateBgColor 5s linear infinite; 
}
.about2__img{
  display: flex;
  position: relative;
  font-size: var(--small-font-size);
  justify-self: center;
  justify-content: center;
  background-color: var(--body-color);
  border: .2rem double var(--first-color); 
  box-shadow: 0px 0px 2px 2px var(--first-color-alt);
  animation: animateBgColor 10s linear infinite; 
  align-items: center;
  font-family: var(--font-family);
width: 5%;
height: 5%;
  z-index: 0;
}
.about__data{
  text-align: center; 
}
.about__info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  margin-bottom: 2rem;  
}
.about__box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
  box-shadow: 2px 2px 2px 2px var(--first-color-alt);
}
.about__icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
box-shadow: 0px 0px 25px 2px var(--first-color-alt);  
text-shadow: var(--first-color);
}
.about__title{
  font-size: var(--small-font-size);
  text-shadow:  0px 0px 25px 2px var(--first-color-alt);
}
.about__subtitle{
  font-size: var(--tiny-font-size);
}
.about__description{
  margin-bottom: 2rem;  
}

/*=============== SKILLS ===============*/

.skills__container{
  row-gap: 2rem;
  padding-top: 1rem;
}
.skills__content{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}
.skills__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.25rem;  
  text-shadow: var(--first-color-alt);
}
.skills__box{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}
.skills__group{
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
.skills__data{
  display: flex;
  column-gap: .5rem;
}
.skills .bxs-badge-check{
  font-size: 1rem;
  color: var(--first-color);
}
.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}
.skills__level{
  font-size: var(--tiny-font-size);
}

/*=============== SERVICES ===============*/

.services__container{
  grid-template-columns: repeat(2, 2fr);
  gap: 1.25rem;
  padding-top: 1rem;
}
.services__card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
}
.services__title{
  font-size: var(--h3-font-size);
  margin-bottom: 2.5rem;
}
.services__button{
  color: var(--first-color);
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
}
.services__button:hover .services__icon{
  transform: translateX(.25rem);
}
.services__icon{
  font-size: 1.75rem;
  transition: .4s;
}

/* Services modal */
.services__modal{
  position: fixed;
  display: grid;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, .7);
  padding: 2rem 1rem;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition:  .4s;
  z-index: var(--z-modal);
}

.services__modal-content{
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 3.5rem 2.5rem;
  border-radius: 1.5rem;
}

.services__modal-title, 
.services__modal-description{
  text-align: center;
}
.services__modal-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}
.services__modal-description{
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
.services__modal-list{
  display: grid;
  row-gap:  .75rem;
}
.services__modal-item{
  display: flex;
  align-items: flex-start;
  column-gap: .5rem;
}
.services__modal-icon{
  font-size: 1.5rem;
  color: var(--first-color);
}
.services__modal-info{
  font-size: var(--normal-font-size);
}
.services__modal-close{
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 2rem;
  color: var(--first-color);
  cursor: pointer;
}

/*Active modal*/
.active-modal{
  opacity: 1;
  visibility: visible;
}

/*=============== WORK ===============*/
.work__container{  
  position: relative;
  display: grid;
  justify-content: center;
  padding-top: .25rem;
}
.work__filters{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  column-gap:  .75rem;
  margin-bottom: 2rem;
  animation: animateBgColor 4s linear infinite;
}

.work__item{
  cursor: pointer;
  color:var(--title-color);
  padding: .25rem .5rem;
  font-weight: var(--font-semibold);
  border-radius: .5rem;
}

.work__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
  place-items:center;
  background:var(--body-gradient);
  padding-block: 2.5rem;
}

.work__card--container{
  margin-inline:1.25rem;
display:grid;
grid-template-columns: 1fr;
row-gap: 1.5rem;
}

.work__img{
  object-fit: contain;    
  justify-content: space-evenly;
  width: 220px;
  height: auto;
  border-radius: 1rem;
  margin-bottom: .5rem;    
  background-color: var(--body-color);
  border: .1rem double var(--first-color); 
  box-shadow: 0px 0px 25px 2px var(--first-color);
  animation: animateBgColor 5s linear infinite;
}
.work2__img{
  object-fit:contain;    
  justify-content: space-evenly;
  display: flex;
  width: 6em;
  height: auto;
  border-radius: 1rem;
  margin-bottom: .5rem;    
  background-color: var(--body-color-alt);
  border: .1rem dashed var(--first-color-alt);
  box-shadow: 0px 0px 25px 2px var(--first-color-alt);
}
.work3__img{
  position: absolute;
  display:inline-block;
  justify-content: center;
  top: -3rem;
  align-items: center;
  width:auto;
  height:25%; 
  top: -10rem;
  opacity: 30%;
  border-radius: 6rem;
  margin-bottom: .5rem;    
  background-color: var(--body-color);
  border: .1rem double var(--first-color); 
  box-shadow: 0px 0px 25px 2px var(--first-color);
  animation: animateBgColor 5s linear infinite;
  z-index: -11;
}
.work__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;  
  text-shadow: 0px 0px 25px 2px var(--first-color-alt);
}
.work__button{
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}
.work__button:hover .work__icon{
  transform: translateX(.25rem);
}
.work__icon{
  font-size: 1.25rem;
  transition: .4s;
}
/* Active item work*/
.active-work{
  background-color: var(--first-color);
  color: var(--body-color);  
}

.videobox{
  display: inline-block;
  justify-content: space-evenly;
  border-radius: 22px;
  padding: 1.25rem;
  width: 75%;
  height: max-content;
  margin-bottom: .5rem;    
  background-color: var(--body-color);
  border: .1rem dashed var(--first-color-alt);
  border: .1rem double var(--first-color); 
  box-shadow: 0px 0px 25px 2px var(--first-color-alt);
}
/*=============== TESTIMONIAL ===============*/

.testimonial__card{
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;  
  margin-left: auto;
}

.testimonial__img{
  width: 100px;
  border-radius: 4rem;
  image-rendering:auto;
  border: 0.5rem double var(--first-color); 
  box-shadow: 0px 0px 10px 5px var(--first-color-alt);
  margin-bottom: 1rem;
}
.testimonial__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}
.testimonial__description{
  max-block-size: 3.5rem;
  font-size: var(--small-font-size);
  letter-spacing : .05rem;
  white-space: wrap;  
  overflow:scroll;
  text-overflow: ellipsis;
  animation: animateBgColor 4s linear infinite;
}

.testimonial__description::first-letter{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);  
}


/* Swiper class */
.swiper-pagination-bullet{
  background-color: var(--text-color-light);  
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.contact__title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}
.contact__info{
  display: grid;
  gap: 1rem;
}
.contact__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}
.contact__card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}
.contact__card-title, 
.contact__card-data{
  font-size: var(--small-font-size);
}
.contact__card-title{
  font-size:  var(--h3-font-size);
}
.contact__card-data{
  display: block;
  margin-bottom: .75rem;
}
.contact__button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .20rem;
}
.contact__button:hover .contact__button-icon{
  transform: translateX(.25rem);
}
.contact__button-icon{
font-size: 1rem;
transition: .4s;
}
.contact__form-div{
  position: relative;
  margin-bottom: 2rem;
  height: 2.5rem;
}
.contact__form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}
.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--small-font-size);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
  border-radius: 6px;
}

.contact__form-area{
  height: 11rem;
}
.contact__form-area textarea{
  resize: none;
}
/*=============== FOOTER ===============*/
.footer{
  background-color: var(--first-color);
}
.footer__container{
  padding: 1.5rem 0 4rem;
}
.footer__title, .footer__link{
color: var(--body-color);
}
.footer__title{
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--h1-font-size); 
}
.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}
.footer__social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .5rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  align-items: center;
  text-align: center;
  display: inline-flex;
}
.footer__social-link:hover{
  background-color: var(--first-color-alt);
  color:var(--body-color);
  }
    .footer__social-link:after{
      content: '';
      width: auto;
      height: auto;
      background-color: var(--first-color);
      transform: rotate(90deg) translate(16px, 3px);
  }
.footer__copy{
  display: block;
  margin-top: 1.5rem;
  color: var(--container-color);
  font-size: var(--smaller-font-size);
  text-align: center;
}
/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
  width: .75rem;
  border-radius: .5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 20%);
}
/* ...................... box double couleur  ............................. */

.box{
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: center;
  border-radius: 10rem 10rem 1rem 1rem;
  overflow: hidden;
}

.box::before{
  content:'';
  position: absolute;
  width: 450px;    
  height: 450px;
  border-radius: 10rem 10rem 1rem 1rem;
  background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
  animation: animate 5s linear infinite;
}

.box::after{
  content:'';
  position: absolute;
  width: 450px;    
  height: 450px;
  border-radius: 10rem 10rem 1rem 1rem;
  background-image: conic-gradient(transparent,transparent,transparent,#ff00ea);
  animation: animate 5s linear infinite;
  animation-delay: -2s;
}

.box span {
  position: absolute;
  display: flex;
  inset: 4px;
  border-radius: 10rem 10rem 1rem 1rem;
  background: var(--first-color);
  z-index: 1;  
  animation: animateBgColor 30s linear infinite;

}
.box img {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 11em;    
  border: 0.4rem double var(--body-color);     
  z-index: 2;
  border-radius: 10rem 10rem 1rem 1rem;
}

.icon {
  position: relative;
max-width: 250px;
height: auto;
  width: 125px;
  height: auto;
    z-index: 0;
    text-align: center;
    display: grid;
}

.icon svg path {
  stroke: #fff;
  stroke-width: 4.8px;
  fill: transparent;
  filter: drop-shadow(0 10px 10px #000) blur(2px);
}
.icon h3 {
  position: relative;
  font-size: 1.25rem;
  color: #fff;
  display: inline-block;
  text-shadow: 0 15px 15px #000;
  box-shadow: 10px 0 0 #fff;
  overflow: hidden;
  animation: textTyping 15s steps(25) infinite;
}

.icon h4 {
  position: relative;
  font-size: .25rem;
  display: flex;
  justify-items: center;
  justify-content: center;
  color: #fff;
  display: inline-block;
  padding: 1em;
  border-radius: 25%;
  text-shadow: 0 5px 5px #000;
  box-shadow: 5px 0 0 #fff;
  overflow: hidden;
  animation: textTyping 24s steps(120)infinite;
}

.iconB {
  position: absolute;
width: 360px;
height: auto;
  z-index: 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.iconB svg path {
  stroke: #fff;
  stroke-width: 5px;
  fill: transparent;
  filter: drop-shadow(0 10px 10px #000) blur(2px);
}
.iconB h4 {
  position: relative;
  font-size: .25rem;
  display: flex;
  justify-items: center;
  justify-content: center;
  color: #fff;
  display: inline-block;
  padding: 1em;
  border-radius: 25%;
  text-shadow: 0 5px 5px #000;
  box-shadow: .5px 0 0 #fff;
  overflow: hidden;
  animation: textTyping 24s steps(120)infinite;
}

/* -------------------------------- flip-box --------------------------------------- */

.flip-box {
  display: block;
  background-color: transparent;
  width: 25vw;
align-items: center;
  cursor: pointer;
  justify-self: center;
  align-items: center;
  justify-content: center;

  /*  border: 1px solid black; */
 /*   perspective: 1000px; Remove this if you don't want the 3D effect */
}
.flip-box h1{
  position: absolute;
  display: flex;
  padding-top: 15vh;
  font-size: var(--h1-font-size);
  color: rgba(245, 245, 245, 0.996);
  text-shadow: 2px 4px 4px black;  
  font-weight:var(--font-semibold);
  z-index: 1;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 52.65%;
  text-align: center;
  text-shadow: 0px 0px 10px 5px var(--first-color);
  transition: transform 0.8s;
  transform-style: preserve-3d;  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;  
  border-radius: 22px;
  border: 1.5rem ridge rgba(0, 0, 0, 0.985);
  border-width: 2px 4px 4px 2px;
}

.random__img {
  width: 100%;
  height: 100%;
  object-fit:cover;  
  border-radius: 44px;
  border: 1.5rem ridge rgba(255, 254, 243, 0.924);
  border-width: 4px 2px 2px 4px;
  background-image: cover;
  position: relative;  
  opacity: 80%;
  z-index: -10;

}
.random2__img {
  width: 10%;
  height: 5%;
  object-fit:cover;  
  border-radius: 44px;
  border: 1rem ridge rgba(255, 254, 243, 0.924);
  border-width: 4px 2px 2px 4px;
  background-image: cover;
  position: relative;  
  opacity: 40%;
  display: flex;

}
/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  display: grid;
  align-content: center;
  background-color:var(--first-color);
  color: var(--first-color-alt);
  opacity: 1;
  transform: rotateY(180deg);  
  animation: animateBgColor 4s linear infinite;
}
.flip-box-back h2{  
  font-size: var(--h2-font-size);  
  color: rgba(245, 245, 245, 0.996);
  text-shadow: 2px 4px 4px black;  
}
@media screen and (max-width: 600px) {
  .flip-box-inner {
    padding-top: 100%;
  }
  .flip-box {
    width: 90vw;
  }
}


/*=============== BREAKPOINTS ===============*/
  /* For small devices 2*/
  @media screen and (max-width:320px){
  .nav__menu {
    position: absolute;
  justify-items: center;
  align-items: center;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  border: .1px solid rgba(174, 170, 170, 0.493);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: .5s;
  z-index: 1000;
  }

  .nav__list{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    }
    .nav__item{
      width: 85%;
      text-align: center;
    }
    
    .nav__link{
      display: flex;
      padding: .22rem;
      color: var(--text-color);
      font-size: 1.25rem;
      border-radius: 100%;
      align-items: center;
      align-content: space-evenly;
      justify-content: center;
      margin:.2rem;  
      transition: .5s;
      animation: animateBgColor 10s linear infinite;
    }
    
    .nav__item-title{  
      display: block;
      font-size: var(--tiny-font-size);  
      text-align: center; 
      color: var(--title-color);
      border-radius: 22px;
      animation: animateBgColor 20s linear infinite;
    }
  
  .home{
    position: relative;
    row-gap: 1.25rem;
    padding-top: 1.25rem;
  }
  .home__container{
    position: relative;
    row-gap: 1.25rem;
    padding-top: 1.25rem;
  }
  .home__buttons{
    flex-direction: column;
    font-size: var(--normal-font-size);
  }
  .home__handle{
    width: 125px;
    height: auto;
  }
  .home__img{
    width: 125px;
    height: auto;
  }
  .about__info{
    grid-template-columns: repeat(2, 1fr);
  }
  .about__button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .25rem .25rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    transition: .5s;
    animation: animateBgColor 60s linear infinite;
  }
  .skills__box{
    column-gap: .75rem;
  }
  .skills__name{
    font-size: var(--small-font-size);
  }
  .services__container{
    grid-template-columns: 125px repeat (2, 1fr);
    justify-content: center;
  }
  .work__item{
    font-size: var(--normal-font-size);
  }
  .work__filters{
    column-gap: .25rem;
  }
  .footer__list{
    display:flex;
    justify-content: center;
    font-size: var(--small-font-size);
    column-gap: .25rem;
    margin-bottom: 1.25rem;
  }
}

/* For small devices */
@media screen and (max-width:320px){

  .nav__menu{
    position: absolute;
    justify-items: center;
    align-items: center;
    left: .51rem;
    background-color: hsla(var(--second-hue), 32%, 16%, .8);
    border: .15px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: .5s;
    z-index: 1000;
  }

  .home{
    position: relative;
    row-gap: 1.25rem;
    padding-top: 1.25rem;
  }
  .home__container{
    position: relative;
    row-gap: 1.25rem;
    padding-top: 1.25rem;
  }
  .home__buttons{
    flex-direction: column;
  }
  .home__handle{
    width: 125px;
    height: auto;
  }
  .home__img{
    width: 125px;
    height: auto;
  }
  .about__info{
    grid-template-columns: repeat(2, 1fr);
  }
  .about__button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .5rem .5rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .5s;
    animation: animateBgColor 30s linear infinite;
  }
  .skills__box{
    column-gap: .5rem;
  }
  .skills__name{
    font-size: var(--smaller-font-size);
  }
  .services__container{
    grid-template-columns: repeat(1, 115px);
    justify-content: center;
  }
  .work__item{
    font-size: var(--normal-font-size);
  }
  .work__filters{
    column-gap: .25rem;
  }
  .work__card{
    padding: .25rem;
    margin: .25rem;
  }
  .work__container{
    width: 65%;
    height: auto;
    justify-content: center;
    padding-top: .25rem;
    grid-template-columns: repeat(2, 2fr);
  }
  .work__img{
    width: 100px;
    height: auto;
  }
  .work2__img{
    width: 80px;
    height: auto;
  } 
  .work__item{
    font-size: var(--normal-font-size);
  }
  .footer__list{
    display:flex;
    justify-content: center;
    font-size: var(--small-font-size);
    column-gap: .25rem;
    margin-bottom: 1.25rem;
  }
}
.about2__img
{

  height: auto;
  justify-content: center;
  align-items: center;
}
/* For medium devices */
@media screen and (min-width:576px){
  .nav__menu{
    position: fixed;
    width: 500px;
    padding: 1.05rem 1.05rem;    
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    top: 1.15rem;
    background-color: hsla(var(--second-hue), 32%, 16%, .8);
    border: .15px solid rgba(255, 255, 255, 0.945);
    border-radius: 5rem;
    padding: .75rem .75rem;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: .5s;
    z-index: 1000;
  }
  .about__info{
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
  }
  .about__description{
  padding: 0 5rem;
  }

  .skills__container{
    justify-content: center;
    
  }
  .skills__content{
    padding: 2rem 3rem;
  }
  .services__container{
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }
  .services__modal-content{
    width: 400px;
    padding: 4rem 2.5rem 2.5rem;
    justify-content: center;
  }
  .services__modal-description{
    padding: 0 2.5rem;
  }
  .work__card{
    padding: .75rem;
    margin: .25rem;
  }
  .work__container{
    width: 75%;
    height: auto;
    justify-content: center;
    padding-top: .25rem;
  }
  .work__img{
    width: 100px;
  }
  .work__item{
    font-size: var(--normal-font-size);
  }
  .work__filters{
    column-gap: .15rem;
  }
  .work__card{
    padding: .25rem;
    margin: .25rem;
  }

  .work__container{
    justify-content: center;
    padding-top: .15rem;
  }
  .contact__info{
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }
  .contact__form{
    width: 360px;
    margin: 0 auto;
  }
}
/* For medium devices 2*/
@media screen and (min-width:576px){
  .nav__menu{
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    top: 1.15rem;
    background-color: hsla(var(--second-hue), 32%, 16%, .8);
    border: .15px solid rgba(255, 255, 255, 0.945);
    border-radius: 5rem;
    padding: .75rem .75rem;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: .5s;
    z-index: 1000;
  }

  .about__info{
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
  }
  .about__description{
  padding: 0 2.5rem;
  }

  .skills__container{
    justify-content: center;
  }
  .skills__content{
    padding: 2rem 3.5rem;
  }
  .services__container{
    grid-template-columns: repeat(3, 160px);
    justify-content: center;
  }
  .services__modal-content{
    width: 400px;
    padding: 4.5rem 3.5rem 2.5rem;
    justify-content: center;
  }
  .services__modal-description{
    padding: 0 3.5rem;
  }

  .work__container{
    justify-content: center;
    padding-top: .15rem;
  }
  .work__img{
    width: 250px;
    height: auto;
  }
  .work3__img{

    margin-bottom: .5rem;    
    height: auto;
  }
  .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form{
    width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width:767px){
  .work__container{
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    padding-top: .5rem;
  }
  .contact__container{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width:767px){
  .work__container{
    grid-template-columns: repeat(1, max-content);
  }
  .contact__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }
}
/* For large devices */
@media screen and (min-width:992px){
  .nav__menu{
    position: fixed;
    padding: 1.05rem 1.05rem;
        width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    top: 1.15rem;
    background-color: hsla(var(--second-hue), 32%, 16%, .8);
    border: .15px solid rgba(255, 255, 255, 0.945);
    border-radius: 5rem;
    padding: .75rem .75rem;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: .5s;
    z-index: 1000;
  }

  .container{
  margin-left: auto;
  margin-right: auto;
}
.section{
  padding: 5.25rem 0 1rem;
}
.section__title{
  margin-bottom: 3.25rem;
}
.nav{
  height: calc(var(--header-height) + 1.25rem);
}
.home__handle{
  width: 220px;
  height: 345px;
}
.home__img{
  width: 220px;
  height: auto;
}
.home__social-link{
  padding: .4rem;
  font-size: 1.75rem;
}
.home__social:after{
transform: rotate(90deg) translate(16px, 0);
}
.home__scroll-icon{
  font-size: 2rem;
}
.about__container{
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 3.5rem;
}
.about__img{
  width: 240px;
  height: auto;
}
.about__info{
  justify-content: initial;
}
.about__data{
  text-align: initial;
}
.about__box{
  text-align: center;
  padding: 1rem 1.25rem;
}
.about__description{
  padding: 0 4rem 0 0;
  margin-bottom: 2.5rem;
}
.skills__container{
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
}
.services__container{
  grid-template-columns: repeat(2, 192px);
  column-gap: 3rem;
}
.services__card{
  padding: 5rem 2rem 1.5rem;
}
.work__container{
  gap: 3rem;
  grid-template-columns: repeat(2, max-content);
}
.work__card{
  padding: 1.25rem;
}
.work__img{
  margin-bottom: 1rem;
  height: auto;
}
.work3__img{

  margin-bottom: .5rem;    
  height: auto;
}
.work__title{
  margin-bottom: .5rem;
}
.testimonial__container{
  width: 750px;
}
.testimonial__card{
  padding: 1.25rem 1.75rem;
}
.contact__container{
  column-gap: 6rem;
}

.footer__social-link{
  font-size: 1.25rem;
  padding: .4rem;
  border-radius: .5rem;
}
}
/* For large devices 2*/
@media screen and (min-width:992px){
.container{
  margin-left: auto;
  margin-right: auto;
}
.section{
  padding: 5.25rem 0 1rem;
}
.section__title{
  margin-bottom: 3.25rem;
}
.nav{
  height: calc(var(--header-height) + .25rem);
}
.home__handle{
  width: 220px;
  height: 345px;
}
.home__img{
  width: 220px;
}
.home__social-link{
  padding: .4rem;
  font-size: 1.25rem;
}
.home__social:after{
transform: rotate(90deg) translate(16px, 0);
}
.home__scroll-icon{
  font-size: 2rem;
}
.about__container{
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}
.about__img{
  width: 300px;
}
.about__info{
  justify-content: initial;
}
.about__data{
  text-align: initial;
}
.about__box{
  text-align: center;
  padding: 1rem 1.25rem;
}
.about__description{
  padding: 0 4rem 0 0;
  margin-bottom: 2.5rem;
}
.skills__container{
  grid-template-columns: repeat(2, 300px);
  column-gap: 3rem;
}
.services__container{
  grid-template-columns: repeat(3, 192px);
  column-gap: 3rem;
}
.services__card{
  padding: 5rem 2rem 1.25rem;
}
.work__container{
  gap: 3rem;
  grid-template-columns: repeat(2, 2fr);
  display: grid;
}
.work__card{
  padding: 1.25rem;
}
.work__img{
  margin-bottom: 1rem;
}
.work3__img{

  margin-bottom: .5rem;    

}
.work__title{
  margin-bottom: .5rem;
}
.testimonial__container{
  width: 650px;
}
.testimonial__card{
  padding: 1.25rem 1.75rem;
}
.contact__container{
  column-gap: 3.5rem;
}

.footer__social-link{
  font-size: 1.25rem;
  padding: .4rem;
  border-radius: .5rem;
}
}

/*=============== BREAKPOINTS ===============*/





/* ...................... Keyframes  ............................. */

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animateBgColor {
  0%{
    filter: hue-rotate(0deg);
  }
  50% {
    transform: hue-rotate(180deg);
}
  100%{
    filter: hue-rotate(360deg);
  }
}

@keyframes textTyping {
  0%,90%,100%{
    width: 1px;
    height: auto;
    text-align: center;
  }
  40%,60%{
    width: 248px;    
    height: auto;
    text-align: center;
  }
}











